.intro {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 5.9rem;
    margin-bottom: 4rem;
  }

  &__subtitle {
    align-self: end;
    margin-bottom: 6rem;
  }

  &__photo {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 5px;
  }

  &__photo-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .intro {
    &__header {
      display: block;
      margin-top: -2rem;
    }

    &__title {
      font-size: 3.4rem;
      line-height: 4.5rem;
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-bottom: 3rem;
    }
  }
}
