.intro {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 4.8rem;
    line-height: 5.9rem;
    padding: 4rem 0 3rem;
  }

  &__subtitle {
    align-self: end;
    padding-bottom: 5rem;
  }

  &__lang {
    font-size: 1.6rem;
    font-weight: bold;
    transform: rotate(-90deg) translateY(100%);
  }

  &__lang-switcher {
    color: #828282;
    cursor: pointer;

    &_active {
      color: #070707;
    }
  }

  &__lang-switcher:hover {
    opacity: 70%;
  }

  &__photo {
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    margin-bottom: 10rem;
    border-radius: 5px;
  }

  &__photo-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .intro {
    &__header {
      display: block;
    }

    &__title {
      font-size: 3.4rem;
      line-height: 4.5rem;
      padding: 3rem 0 2rem;
    }

    &__subtitle {
      padding-bottom: 3rem;
    }

    &__photo {
      margin-bottom: 8rem;
    }

    &__photo-item {
      width: 100%;
    }

    &__lang {
      display: none;
    }
  }
}
