@import './colors';

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Gilroy-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gilroy-Medium.woff') format('woff');
}

html {
  font-family: 'Gilroy';
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: $textColor;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 1.2rem;
}

.title {
  font-size: 3.4rem;
  font-weight: bold;
  line-height: 4.2rem;
  text-align: center;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button {
  &_no-bg {
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  &_no-bg:hover {
    opacity: 70%;
  }

  &_no-bg:focus {
    outline: none;
  }
}

@media screen and (max-width: 565px) {
  .button {
    &_no-bg:focus {
      opacity: 100%;
    }
  }
}
