.contacts {
  &__text {
    text-align: center;
    margin-bottom: 5rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
  }

  &__link {
    display: block;
    padding: 0 2rem;
    transition: transform 0.2s linear;
  }

  &__link:hover {
    transform: scale(120%);
  }

  &__ico {
    display: block;
    width: 4rem;
  }

  &__sublinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__sublink {
    padding: 0 1rem;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #828282;
  }

  &__sublink:hover {
    color: #000;
  }
}
